/* header style */
.background-image {
    background-image: url(../images/background99.jpg);
	width: 100%;
    height:1100px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    
   

}
.header-block {
    width: 100%;
    height: 72px;
    position: absolute;
	display: flex;
    justify-content: space-between;
	top: 0;
    background-color: black;
    position: fixed;
    z-index: 7;
    
}
.header {
    position: absolute;
}
.div-logo {
    display: flex;
}
.paw {
    max-width: 55px;
    width: 100%;
    margin-left: 30px;
   margin-top: 10px;
    
}
.petlovers {
    /* text-transform: capitalize; */
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    font-weight: bolder;
    margin-top: 10px;
    margin-left: 10px;
    color: #f8b525;
    transform: rotate(-8deg);

}

.fonts {
    display: flex;
}

.fa-arrow-down {
    color: white;
    max-width: 15px;
    width: 100%;
    margin-top: 5px;
    height:25px;
    margin-top: auto;
}


.dropbtn {
    font-size: 20px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    font-weight: normal;
    color: white;
    margin-left: 15px; 
    padding: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0e0d0d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(253, 247, 247);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:#ff9900;}
  
  .dropdown:hover .dropdown-content {
    display: block;
    margin-top: 40px;
    margin-left: 5px;
  }
  .list {
      text-align: center;
  }
  
.nav-ul {

    margin-left: 100px;
    padding-top: 25px;
	display: flex;
    
}
.nav-li {
	
	font-size: 20px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    font-weight: normal;
    color: white;
    margin-left: 15px;
}
.nav-li:hover {
    color:#ff9900;
}
.active {
    color: #ff9900;
}

.log-lang {
    display: flex;
    
}
.login
{
    max-width:300px;
    width: 100%;
    font-size:20px ;
    font-weight: normal;
    color: black;
    font-family: "BPG Nino Elite Caps", sans-serif;
    display: flex;
    margin-top: 12px;
    margin-bottom: 25px;
    border:none;
    background-color: white;
    padding: 15px 32px;
    border-radius: 15px;
    
}
.login:hover {
    background-color: #ff9900;
    color: white;
}


.flag {
    max-width: 40px;
    width:100%;
    margin-right: 80px;
    margin-left: 50px;
    margin-top: 18px;
    display: block;

}
.flag1 {
    max-width: 40px;
    width: 100%;
    align-items: center;
    padding-top: 15px;
    margin-left: 9px;
}
.drop {
    display: none;
    position: absolute;
    max-width: 60px;
    width: 100%;
    margin-left:40px ;
    z-index: 1;
}


.drop-menu:hover .drop {
    display: block;
}
.burger-bar {
    display: none;
}
.burger {
    color: white;
    font-size: 30px;
    max-width: 26px;
    width: 100%;
    height: 25px;
}

.resp-adopt {
    height: 800px;
    max-width: 750px;
    align-items: center;
    padding-top: 300px;
    padding-left: 100px;
}

.adopt-header {
    max-width: 600px;
    width: 100%;
    height: 700px;
    
}
 .pet-adopt {
    font-size: 34px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    font-weight: bold;
    color: #ff9900;
    margin-bottom: 30px;

    
} 
.adopt-container {
    font-size: 22px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: white;
    margin-bottom: 30px;
    
    
}
.find-bt {
    font-size:24px ;
    font-weight: normal;
    color: white;
    font-family: "BPG Nino Elite Caps", sans-serif;
    max-width:300px;
    width: 100%;
    border:none;
    background-color:#ff9900;
    padding: 15px 32px;
    border-radius: 8px; 


}
.find-bt:hover{
    color: #ff9900;
    background-color: white;
    border:2px solid #ff9900 ;
}
/* section 1 style */

.section1-wrapper {
    font-size: 48px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    font-weight: bolder;
    color: black ;
    text-align: center;
    margin-top: 80px;

}
.line {
    max-width: 200px;
    width: 100%;
    height: 7px;
    background-color:#ff9900;
    border-radius: 5px;
    margin:0 auto;
    margin-top: 50px;
}
.paragraph {
    max-width: 1100px;
    width: 100%;
   margin:0 auto;
   margin-top: 50px;

}
.p-1 {
    font-size: 24px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    text-indent: 50px;
    color: rgb(12, 12, 12) ;
    line-height: 1.8;
    margin-bottom: 150px;
}
.chat {
    max-width: 65px;
    width: 100%;
    margin-left: 1780px;
    margin-top: 810px;
    position: fixed;
    z-index: 7;

    
}
.chat:hover {
    max-width: 110px;
    width: 100%;
}







/* section2 style */
.first-block {
    max-width: 320px;
    width: 100%;
    
 
}
.section-2 {
    margin-top: 200px;
    margin-bottom: 100px;
    margin:0 auto;
}
.services {
    font-size: 30px;
    font-weight: normal;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: rgb(252, 246, 246);
    border:none;
    background-color: #ff9900;
    padding:10px;
    text-align: center;
    border-radius: 15px;
    max-width:350px;
    width: 100%;
    margin: 0 auto;
    

}
.services:hover{
    color: #ff9900;
    background-color: white;
   
}

.ser-container {
    display: flex;
  margin-bottom: 100px;
  width: 1070px;
  margin:0 auto;
    flex-wrap: wrap;
    padding-top: 100px;
    margin-bottom: 100px;
}
.walk {
    display: flex;
}
.animal {
    max-width: 30px;
    margin-top: 70px;
    margin-left: 8px;
}
.fa-plus-square {
    max-width: 80px;
    width: 100%;
    color: #ff9900 ;
    margin-top: 100px;
}
.second-block {
    max-width: 340px;
}
.animal-p {
    font-size: 18px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: rgb(53,px 53, 52);
}
.dog {
    max-width: 400px;
    width: 100%;
}
.components {
    font-size: 25px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: black;
    margin-top: 8px;
    margin-bottom: 15px;
    margin-top: 100px;
    
    
}
.components:hover{
    color:#ff9900;
}


/* section-3 style */
.section-3 {
    height: 800px;
    flex-wrap: wrap;
    text-align: center;
    
   
 
}

.bg-image { background-image: url(../images/background2.jpg);
	width: 100%;
    height:1000px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    padding-top: 100px;
   
   
}
.big-div {
    position: relative;
    display: flex;  
    padding-top: 150px;
    justify-content: space-around;
    flex-wrap: wrap;
  
}

.section3-wrapper {
    font-size: 36px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #ff9900;
   position: absolute;
   justify-content: center;
   width: 100%;

}
.first {
    max-width: 300px;
    width: 100%;
    height: 400px;
   

}
.first1 {
    max-width: 300px;
    width: 100%;
    height: 400px;
}
.img {
    max-width: 300px;
    width: 100%;
    border-radius: 50%;
    align-items: center;
    margin-bottom: 15px;
   
}
.img:hover {
    max-width: 700px;
    width: 100%;
    border-radius: 20%;
}
.name {
    font-size: 24px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: rgb(252, 246, 246);
    text-align: center;
    margin-bottom: 30px;
    
}
.about {
    font-size: 16px;
   
    font-family: "Arial GEO BoldItalic", sans-serif;
    color: rgb(223, 215, 215);
    text-align: center;
    margin-bottom: 30px;
}
.icon-div {
    display: flex;
    color: white;
    max-width: 100px;
    width: 100%;
    justify-content: space-between;
    margin-left: 100px;
}
.btn-sec3{
  margin:0 auto;
}
.sec3-button {
    font-size: 20px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: white;
    background-color:#ff9900 ;
    max-width: 200px;
    width: 100%;
    height: 45px;
    padding: 2px;
    margin-top: 150px;
    
   
}
.sec3-button:hover{
    color: #ff9900;
    background-color: gray;
    border-color: #ff9900;
}


 /* section 4 style */

.section4-div {
    height: 1200px;
    padding-top: 200px;
    background-color: lightgray;
 
}
.wrapper-div {
    display: flex;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}


.adopt-wrapper {
    font-size: 36px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    font-weight: bold;
    color: #ff9900;
    padding-top: 100px;
  
   
}



.paragraph-adopt {

    font-size: 22px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: rgb(22, 22, 22);
    text-align: center;
    margin-top: 50px;
}
 .multiple-items {
     max-width: 1270px;
    width: 100%;
    margin-left: 260px;
    margin-top: 80px;
} 
.slider {
    display: flex;
} 
 .slider .slider_item {
    /* max-width: 350px; */
    width: 100%;
    height: 250px;
    margin:30px;
    border: 4px solid #ff9900;
    
}
 .slider .slider_item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.slick1 {
   margin-left: 100px;
}


.read {
    font-size: 22px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    font-weight: bolder;
    color:#ff9900 ;
    display: inline-block;
    margin-left: 1300px;
    
    margin-top: 70px; 
    border: 2px solid #ff9900;
    background-color: white;
    padding:10px;
    
}

.read::after {
    
    content: ' ';
    width: 35px;
    height: 4px;
    background-color: #FF7A00;
    display: inline-block;
    margin-left: 4px;
    
}
/* footer style */



.footer-container {
    width: 100%;
    height: 400px;
    background-color: rgb(8, 8, 8);
    text-align: center;
    display: flex;
    z-index: 9;
    flex-wrap: wrap;
}
.left-block {
    max-width: 400px;
    width: 100%;
    margin-left:60px ;
    fle
}
.petlovers2 {
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 40px;
    padding-top: 90px;
    padding-left: 10px;
    
}
.nav-lu {
    font-size: 16px;
    color: white;
    margin-bottom:10px;
    font-family: "BPG Nino Elite Caps", sans-serif;
}
.f-nav {
    margin-bottom: 15px;
}
.footer-contact{
    font-size: 22px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: white;
    margin-bottom: 40px;
    padding-top: 90px;
    text-align: center;

}
.right-block{
    max-width: 350px;
    width: 100%;
     text-align: center;
     margin:auto;
}
.resp-footer {
    width: 230px;
    text-align: center;
    margin: 0 auto;
}
.cont-div {
    display: flex;
    width: 100%;
  margin:0 auto;
  
}
.icon-div1 {
    display: flex;
    max-width: 180px;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    
}
.soc-icons {
    max-width: 30px;
    width: 100%;
}
.soc-icons:hover{
    max-width: 60px;
    width: 100%;
    transform: rotate(20deg);
}
.images {
    max-width: 22px;
    width: 100%;
    margin-right: 10px;
    margin-top: 7px;
   
}
.ft {
    font-size: 16px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: white;
    margin-bottom: 20px;
    padding-top: 10px;
}
.center-block {
    max-width: 750px;
    width: 100%;
    height: 400px;
    margin:0 auto;

}
.map-wrapper {
    font-size: 22px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: white;
    padding-top: 80px;
    margin-bottom: 30px;
}
.map {
    max-width: 800px;
    width: 100%;
    height: 250px;
  }
  iframe {
    max-width: 800px;
    width: 100%;
    height: 200px;
  }

.images5 {
    max-width: 22px;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
}

  /*  about us*/
.big-div{
    flex-wrap: wrap;
}
  .div-1{
      max-width: 700px;
      width: 100%;
      flex-wrap: wrap;
  }
  .about-wrapper {
    font-size: 75px;
    font-family: 'Dancing Script', cursive;
    color: rgb(240, 161, 50) ;
    text-align: center;
    margin-top: 100px;


  }

  .text-1{
    font-size: 24px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: rgb(117, 114, 114);
    text-align: center;
    margin-top: 50px;

  }
  .div-2 {
      max-width: 800px;
      width: 100%;
      height: 700px;
      padding:40px;
      background-color: rgb(240, 161, 50);
      margin-bottom: 60px;
      flex-wrap: wrap;
  }
  
  .img-div {
      display: flex;
    

  }
  .office {
      max-width: 325px;
      width: 100%;
      margin-right: 65px;

  }
  .office1 {
      max-width: 808px;
      width: 100%;
      height: 350px;
      margin-top: 25px;
  }


  /* contact style */
  .big-div1 {
      max-width: 1150px;
      width: 100%;
      height: 700px;
      background-color: rgb(224, 199, 144);
      display: flex;
      margin:0 auto;
      margin-top: 120px;
      align-items: center;
      text-align: center;
      padding:50px;
      justify-content: space-around;
      margin-bottom: 40px;
      flex-wrap: wrap;
  }
 
  .form-container {
      margin-bottom: 80px;
  }
   
  .contact-header {
      font-size: 30px;
      font-weight: bold;
      font-family: "BPG Nino Elite Caps", sans-serif;
      color: rgb(48, 47, 48);
      margin-bottom: 50px;
     flex-wrap: wrap;
  
  }
  .form1{
    text-align: center;
  }
 
  input {
      max-width: 400px;
      width: 100%;
      padding: 12px 20px;
      margin-bottom: 25px;
      
  }
  input:hover {
      border: 2px solid rgb(240, 161, 50) ;

  }
  textarea{
      width:400px;
      height: 150px;
      padding: 12px 20px;
      color: rgb(117, 114, 114);
      
      

  }
  textarea:hover {
    border: 2px solid rgb(240, 161, 50) ;
  }
  
  
  .divs-7{
      max-width: 350px;
      width: 100%;
      height: 200px;
      background-color: white;
      margin-left: 20px;
      margin-bottom: 20px;
      text-align: center;
      padding: 30px;
      
  }
  .flex {
      display: flex;
  }
  .soc-logo {
      max-width: 40px;
      width: 100%;
      margin-bottom: 11px;
      
     
  }
  .head {
    font-size: 22px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    margin-bottom: 15px;
  }
  .input-btn {
    max-width: 80px;
    width: 100%;
 margin-top: 30px;
 margin-left: 20px;
  display: flex;
  
 
  
    
}
.button-input {
    max-width: 352px;
    width: 100%;
    height: 60px;
    background-color: #f78e04;
    border: none;
    position: absolute;
    
}
.send {
    color: rgb(255, 255, 255);
    font-size: 22px;
    position: relative;
    margin-left: 120px ;
    margin-top: 15px;
    
   
}
.fa-paper-plane {
    color: white;
    max-width: 15px;
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 18px;
    margin-left: 3px;
}


/* login style */
.background-image2 {
    background-image: url(../images/bg-1.jpg);
	width: 100%;
    height:970px;
    opacity: 0.7;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 200px;
   
}
.login1 {
    max-width: 600px;
    width: 100%;
    height: 600px;
    background-color: white;
    margin: 0 auto;
  
}
.login-wrapper {
    font-size: 30px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #ff9900;
    text-align: center;
    padding-top: 50px;
}
.login-form {
    text-align: center;
    margin-top: 50px;
}
.input2{
    margin-top: 15px ;
}
.input3 {
    max-width: 200px;
    width: 100%;
    height: 60px;
    margin-top: 30px;
    font-size: 22px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    font-weight: bold;
    background-color: #ff9900;
    border:none;
    border-radius: 5px;
    justify-content: center;
}
.input33{
width: 100%;
text-align: center;
}
.checkbox {
    display: flex;
    text-align: center;
    max-width: 100px;
    width: 100%;
    justify-content: space-around;
    margin:0 auto;
}
.input4{
   max-width: 20px;
   width: 100%;
   
}
.label1 {
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
   
}
.registration {
    display: flex;
    justify-content: space-between;
    padding: 40px;

}
.reg {
    font-size: 16px;
    font-weight: bolder;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: black;
}
.reg:hover{
   color: #ff9900;
}

/* adopt style */
.adopt-sec {
height: 1800px;
text-align: center;


}
.divs-div {
    width: 1600px;
    padding: 0 60px;
    height: 1000px;
    margin:0 auto;
   
    
}
.adopt-wrapper1 {
    font-size: 40px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #ff9900;
    text-align: center;
    margin-top: 50px;
}
.inline-div {
    display: flex;
    padding: 65px;
    flex-wrap: wrap;
}

.adopt-paragraph {
    font-size: 24px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #0a0909;
    text-align: center;
}
.adopt-img {
  border-radius:  86% 14% 64% 36% / 31% 58% 42% 69% ;
  margin-right: 100px;
  margin-bottom: 50px;
  max-width: 600px;
  width: 100%;

}
.adopt-img:hover{
    opacity: 0.5;
}
.adopt-p {
    
    max-width:800px;'
    width: 100%;
    margin:0 auto;
    margin-top: 50px;
}


.divs{
    display: flex;
    margin-bottom: 50px;
    max-width: 900px;
   width: 100%;

  
   
}
.divs1 {
    display: flex;
    margin-bottom: 50px;
    max-width: 900px;
   width: 100%;
  
   
}
.divs2 {
    display: flex;
    margin-bottom: 50px;
    max-width: 900px;
   width: 100%;
  
   
}
.big-div3 {
    padding-top: 100px;
}

.cat-img {
    height: 260px;
  
  
}
.cat-img:hover{
    opacity: 0.3;
}
.cat-img9{
    max-width: 300px;
   height: 290px;
}
.cat-img9:hover {
    opacity: 0.3;
}
.box-wrapper {
    font-size: 25px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #353333;
    text-align: center;
    margin-top: 15px;
}
.more {
    font-size: 16px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #ff9900;
    border: 2px solid #ff9900;
    margin-top: 20px;
    padding: 7px;
    float: right;
}
.more:hover{
    color: white ;
    background-color: #ff9900;
    border: 2px solid white;
}
.pic-div1 {
    max-width: 310px;
    width: 100%;
    height: 400px;
    margin-right: 40px;
    padding: 7px;
    border: 3px solid #aaaaaa;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.cat-img1 {
    margin-left: 25px;
    height: 260px;
}
.cat-img1:hover{
    opacity: 0.3;
}


.pic-div3 {
    max-width: 330px;
    height: 100%;
    height: 430px;
    margin-right: 40px;
    padding: 7px;
    border: 3px solid #aaaaaa;
    box-shadow: 10px 10px 5px #aaaaaa;
    text-align: center;
}
.pic-div4{
    max-width: 400px;
    height: 100%;
    height: 410px;
    margin-right: 40px;
    padding: 7px;
    border: 3px solid #aaaaaa;
    box-shadow: 10px 10px 5px #aaaaaa;
    text-align: center;
}
  
.adopt-btn {
    max-width: 200px;
    width: 100%;
    height: 30px;
margin:0 auto;
   margin-top: 150px; 
   display: flex;
   justify-content: space-between;
  
}
.previous {
    background-color: #ff9900;
    color: white;
  }
  
  .next {
    background-color: #ff9900;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }
  .one {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  .one:hover {
    background-color: #ddd;
    color: black;
  }
  .number {
      font-size: 20px;
     margin-top: 5px;
     color: black;
  }


  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 80%;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    max-width: 50%;
    width: 100%;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #ff9900;
    color: white;
    height: 30px;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #ff9900;
    color: white;
    height: 30px;
  }

  /* groom style */
  .groom-div {
      display: flex;
      padding: 70px;
     
  }
  .groom-image {
      margin-left: 30px;
      width: 100%;
  }
  .groom-box{
      text-align: center;
      margin-top: 50px;
  }
  .groom-header {
    font-size: 33px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #ff9900;
    margin-bottom: 50px;
  }
  .groom-paragraph {
    font-size: 22px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: rgb(41, 39, 39);
    letter-spacing: 1px;
    line-height: 1.5;
  }
  .groom-icon{
      max-width: 400px;
      width: 100%;
      margin-bottom: 30px;
  }
  .groom-section {
      margin-bottom: 100px;
  }
  .serv-wrapper {
    font-size: 33px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: white;
    max-width: 200px;
    width: 100%;
    border: 2px solid #ff9900 ;
    background-color: #ff9900;
    margin:0 auto;
    margin-top: 50px;
    
    padding: 8px;
  }
  .groom-container {
     margin-top: 100px;
   
  }
  .groom-div1 {
      display: flex;
      background-color: rgb(233, 228, 212);
      padding: 30px;
  }
  .wash-img {
      max-width: 350px;
      width: 100%;
      border-radius: 20%;
      margin-left: 50px;
  }
.flex2 {
    text-align: center;
    max-width: 900px;
    width: 100%;
}
  .wash-header {
    font-size: 25px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #ff9900;
    margin-bottom: 50px;
    margin-top: 50px;
   
  }
  .wash-p {
    font-size: 20px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #0f0f0f;
  }
  .flex3 {
      display: flex;
      justify-content: space-around;
      max-width: 600px;
      width: 100%;
      float: right;
  }
  .price1 {
    font-size: 25px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #ff9900;
    margin-top: 80px;
  }
  .reserve {
      max-width: 120px;
      width: 100%;
      height: 50px;
      font-size: 20px;
      color: #ff9900;
     border-color: white;
     margin-top: 60px;
  }
  .groom-div2 {
      display: flex;
      margin-left: 500px;
      padding: 30px;
  }
  .flex4 {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    width: 100%;
      float: left;
  }
  .wash-img1 {
    max-width: 450px;
    width: 100%;
    border-radius: 20%;
    margin-right: 50px;
  }
  .wash-img2 {
    max-width: 350px;
    width: 100%;
    border-radius: 20%;
    margin-right: 50px;
  }

  /* health style */
  .health-section {
      padding-top: 110px;
  }
  .health-container {
      display: flex;
      padding:30px;
      
  }
.health-image {
    max-width: 900px;
    width: 100%;
    height: 600px;
    margin-left: 30px;
}
.health-div {
    text-align: center;
    margin-right: 100px;
    margin-top: 120px;
}
.health-wrapper {
    font-size: 32px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #ff9900;
    margin-bottom: 70px;
}
.health-paragraph {
    font-size: 20px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #0f0f0f;
    letter-spacing: 1px;
    line-height: 1.5;
}
.health-ser {
    margin-bottom: 200px;
    text-align: center;
    flex-wrap: wrap;
}
.our-ser {
    font-size: 33px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: white;
    border: 2px solid #ff9900 ;
    background-color: #ff9900;
    max-width: 400px;
    width: 100%;
    padding-top: 18px;
    margin-left: 770px;
    margin-top: 100px;
   
}
.health-box{
    display:flex;
    margin-top: 150px;
    padding-left:50px; 
    padding-right: 70px;
    flex-wrap: wrap;
}
.box1{
    max-width: 380px;
    width: 100%;
    height: 580px;
    margin-left: 50px;
    border: 4px solid #ff9900 ;
    padding:20px;
   
}
.box2{
    max-width: 380px;
    width: 100%;
    height: 580px;
    margin-left: 50px;
    border: 4px solid #ff9900 ;
    padding:20px;
}
.box-img1 {
    max-width: 370px;
    width: 100%;
    height: 250px;
}
.box-img2{
    max-width: 600px;
    width: 100%;
    height: 250px;
  
}
.box-img3{
    max-width: 350px;
    width: 100%;
}
.box-img4 {
    max-width: 600px;
    width: 100%;
    height: 250px;
    
}
.box-head {
    font-size: 28px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #ff9900;
    margin-top: 20px;
}
.box-p {
    font-size: 22px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #20201f;
    margin-top: 30px;
}
.reserve5 {
    max-width: 120px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #ff9900;
    border-color: white;
    float: right;
    margin-top: 20px;

}
.ask-box {
    background-color: #f8990b;
    margin:0 auto;
    margin-bottom: 100px;
    height: 1000px;
    max-width: 1300px;
    padding-top: 80px;
    flex-wrap: wrap;
}

.flex6 {
    display: flex;
    margin-left: 170px;
    margin-top: 150px;
    justify-content: space-around;
    max-width: 1000px;
    flex-wrap: wrap;
}
.health-form {
    display: flex;
    max-width: 250px;
   
}
.ask-header {
    font-size: 28px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #ff9900;
    background-color: white;
    max-width: 350px;
    padding: 30px;
    border-radius: 30%;
    margin-left: 500px;
   
}
.ask-img {
    max-width: 380px;
    height: 400px;
    
}
.dog-check{
    font-size: 20px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: white;
    

}
.cat {
    color: white;
}
.form-button {
    font-size: 18px;
    color: #ff9900;
    width: 200px;
    height: 50px;
    margin-top: 100px;
    margin-left: 320px;
}
/* walking style */

.walk-container {
    padding-top: 180px;
    padding-bottom: 250px;
    flex-wrap: wrap;

}
.walk-wrapper {
    font-size: 33px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: white;
    max-width: 300px;
    width: 100%;
    border: 2px solid #ff9900 ;
    background-color: #ff9900;
    padding: 15px;
    margin-left: 800px;
    text-align: center;
}
.wrapper2 {
    font-size: 33px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: white;
    max-width: 300px;
    width: 100%;
    border: 2px solid #ff9900 ;
    background-color: #ff9900;
    padding: 15px;
    margin:0 auto;
    text-align: center;
}
.walking-box {
    display: flex;
   margin-top: 50px;
   
}
.walk-img {
    max-width: 700px;
    width: 100%;
    border-radius: 27% 73% 30% 70% / 59% 30% 70% 41% ;
    margin-bottom: 70px;

}
.walk-div {
    padding: 34px;
    
}
.walk-paragraph {

    font-size: 20px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #0f0f0f;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 20px;
    
}
.walk-button3 {
    max-width: 300px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #ff9900;
    border-color: white;
    margin-top: 80px;
    
    float: right;
}
.walk2{
    display: flex;
    max-width: 1600px;
    margin-left: 200px;
    margin-top: 150px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.walk3 {
    display: flex;
    max-width: 1600px;
    margin-left: 200px;
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.walk-div1 {
max-width: 700px;
width: 100%;
display: flex;
border: 3px solid #aaaaaa;
 box-shadow: 10px 10px 5px #aaaaaa;
padding:20px;
}
.walk-container2 {
   
padding-top: 150px;

flex-wrap: wrap;
}
.walk-flex{
    margin-top: 50px;
    text-align: center;
    padding:10px;
}

.person {
    max-width: 350px;
    width: 100%;
    border-radius: 20%;
}
.person1 {
    max-width: 390px;
    width: 100%;
    height: 300px;
    border-radius: 20%;
}
.walk-name {
    font-size: 24px;
    font-weight: bolder;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #ff9900;
}
.walk-p {
    font-size: 18px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #0f0f0f;
    margin-top: 30px;
}
.walk-button {
    max-width: 120px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #ff9900;
    border-color: white;
    margin-top: 15px;
}
.walk-button1 {
    max-width: 200px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #ff9900;
    border-color: white;
   float: right;
  margin-right: 30px;
    margin-top: 50px;
    
  
}